In [1]:
import pandas as pd
import numpy as numpy

In [2]:
df = pd.read_csv('/home/dmasson/CloudStation/code/winter_predictor/logfiles/results.csv')
df.head()

,country,name,station_id,R2,nobs,lon,lat,elev,landcover
0,SWITZERLAND,0-PAYERNE,64606610000,0.430216,21,6.95,46.82,491.0,WARM FOR./FIELD
1,SWITZERLAND,0-PAYERNE,64606610000,0.430216,21,6.95,46.82,491.0,WARM FOR./FIELD
2,IRELAND,2-ROSSLARE,62103957000,0.671902,28,6.33,52.25,25.0,WATER
3,IRELAND,3-KILKENNY,62103960000,0.509424,21,7.27,52.67,64.0,WARM CROPS
4,IRELAND,5-BIRR,62103965000,0.548048,21,7.88,53.08,72.0,WARM CROPS