In [1]:
import pandas as pd
import numpy as np
import cdsapi
import matplotlib.pyplot as plt
#import cartopy.crs as ccrs
from datetime import datetime
import pymongo
import xarray as xr
#import dask
import imp
import logging
from datetime import timedelta
from cputils.mongo import connect_mongo
from pymongo import MongoClient

In [2]:
from pymongo import MongoClient
import numpy as np
from datetime import datetime, timedelta
from dateutil.relativedelta import relativedelta
import cdsapi
import logging
from cputils.mongo import connect_mongo
import os
import os.path
import pymongo
import xarray as xr
from multiprocessing.pool import ThreadPool
from multiprocessing_logging import install_mp_handler
from joblib import Parallel, delayed
import pandas as pd
import itertools

In [3]:
imp.reload(logging)

In [5]:
from era5T_feed import ERA5T
%load_ext autoreload
%autoreload 2

In [6]:
self = ERA5T(
    downloadDir='/data/geoData/era5',
    logfilename='/home/dmasson/temp/era5T.log',
    experimental_setting=False,
    historical=False,
    download=False)

In [7]:
np.arange(12,1)

array([], dtype=int64)

In [8]:
year = 2019
self.year = year

nc_local = ['%s/%s' %(self.downloadDir, f) for f in
            os.listdir(self.downloadDir) if
            f.startswith('era5_%s' % year) and f.endswith('.nc')]

# Open them all in one ds object
# will load in chronological order
ds = xr.open_mfdataset(nc_local, combine='by_coords')

ds

<xarray.Dataset>
Dimensions:    (latitude: 721, longitude: 1440, time: 120)
Coordinates:
  * longitude  (longitude) float32 0.0 0.25 0.5 0.75 ... 359.25 359.5 359.75
  * latitude   (latitude) float32 90.0 89.75 89.5 89.25 ... -89.5 -89.75 -90.0
  * time       (time) datetime64[ns] 2019-01-01 2019-01-02 ... 2019-04-30
Data variables:
    t2m        (time, latitude, longitude) float32 dask.array<chunksize=(31, 721, 1440), meta=np.ndarray>
    tp         (time, latitude, longitude) float32 dask.array<chunksize=(31, 721, 1440), meta=np.ndarray>

In [9]:
self.df_missing_dates = self.findMissingDates(ds)
self.df_missing_dates

Empty DataFrame
Columns: [time]
Index: []

In [10]:
# Create the tile elements
delta = 4
ilons = np.arange(-180, 180, delta)
ilats = np.arange(-60, 86, delta)
elements = itertools.product(*[ilons, ilats])
ee = list(elements)
ee[-5:]

[(176, 68), (176, 72), (176, 76), (176, 80), (176, 84)]

In [11]:
cons = self._createMongoConn(
    experimental_setting=self.experimental_setting)
col_grid = cons['col_grid']
col_grid.find_one()

{'_id': ObjectId('5ce2b679b69283640e05ebba'),
 'lsm': 0.0007629692554473877,
 'id_grid': 37279,
 'loc': {'type': 'Point', 'coordinates': [-40.25, 83.75]}}

In [12]:
# Create the tile elements
delta = 4
ilons = np.arange(-180, 180, delta)
ilats = np.arange(-60, 86, delta)
elements = itertools.product(*[ilons, ilats])

# Explore the chunks and select those containing grid cells
def worker_initializer00():
    global col_grid
    cons = self._createMongoConn(
        experimental_setting=self.experimental_setting)
    col_grid = cons['col_grid']

p = ThreadPool(processes=self.ncpu,
               initializer=worker_initializer00)
res = p.map(
    lambda e: self.exploreChunks(
        e[0], e[1], delta, 'ndocs', col_grid),
    elements)
p.close()
p.join()
df_e = pd.DataFrame(res)
df_e = df_e.query(
    'n > 0').sort_values(by='n').reset_index(drop=True)
df_e

      ilon_chunk  ilat_chunk    n
0           -128          76    1
1              4          64    1
2            100          80    1
3            -72         -60    1
4            124          28    1
...          ...         ...  ...
1621          32           0  289
1622         -76          -4  289
1623          20           0  289
1624         -72          -4  289
1625          20          -4  289

[1626 rows x 3 columns]

In [13]:
i = 1000
N = df_e.shape[0]
logging.info('Year %s: processing chunk %s/%s' % (year, i, N))
ilon = df_e.loc[i, 'ilon_chunk']
ilat = df_e.loc[i, 'ilat_chunk']
n = df_e.loc[i, 'n']
ilon, ilat

(112, 32)

In [14]:
ilon_chunk = ilon
ilat_chunk = ilat

ds_chunk = ds[['t2m', 'tp']].sel(
    longitude=slice(ilon_chunk, ilon_chunk + delta),
    latitude=slice(ilat_chunk + delta, ilat_chunk))
# load raster into memory
#ds_chunk = ds_chunk.load()

ds_chunk

<xarray.Dataset>
Dimensions:    (latitude: 17, longitude: 17, time: 120)
Coordinates:
  * longitude  (longitude) float32 112.0 112.25 112.5 ... 115.5 115.75 116.0
  * time       (time) datetime64[ns] 2019-01-01 2019-01-02 ... 2019-04-30
  * latitude   (latitude) float32 36.0 35.75 35.5 35.25 ... 32.5 32.25 32.0
Data variables:
    t2m        (time, latitude, longitude) float32 dask.array<chunksize=(31, 17, 17), meta=np.ndarray>
    tp         (time, latitude, longitude) float32 dask.array<chunksize=(31, 17, 17), meta=np.ndarray>

In [15]:
# Get the gridcells
# Create MongoDB query
con = self._createMongoConn(
    experimental_setting=self.experimental_setting)
col_grid = con['col_grid']
grid_docs = self.exploreChunks(
    ilon_chunk, ilat_chunk, delta, 'docs', col_grid)

#aa = list(grid_docs)
#aa

In [16]:
DS = ds_chunk
DS

<xarray.Dataset>
Dimensions:    (latitude: 17, longitude: 17, time: 120)
Coordinates:
  * longitude  (longitude) float32 112.0 112.25 112.5 ... 115.5 115.75 116.0
  * time       (time) datetime64[ns] 2019-01-01 2019-01-02 ... 2019-04-30
  * latitude   (latitude) float32 36.0 35.75 35.5 35.25 ... 32.5 32.25 32.0
Data variables:
    t2m        (time, latitude, longitude) float32 dask.array<chunksize=(31, 17, 17), meta=np.ndarray>
    tp         (time, latitude, longitude) float32 dask.array<chunksize=(31, 17, 17), meta=np.ndarray>

### Inside "insert chunks"

In [17]:
# A connection will be created for each parallized thread:
def worker_initializer():
    global DS
    DS = ds_chunk

p = ThreadPool(processes=self.ncpu, initializer=worker_initializer)
res = p.map(
    lambda x: self.createRow(x, self.df_missing_dates, DS),
    grid_docs)
p.close()
p.join()

In [18]:
df = pd.DataFrame(res)
df.head()

,year,id_grid,tp,t2m
0,2019,333091,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[-0.7799999999999727, 1.2300000000000182, 3.43..."
1,2019,333092,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[-0.92999999999995, 1.0600000000000023, 3.3300..."
2,2019,333093,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[-1.0499999999999545, 0.8500000000000227, 3.02..."
3,2019,311504,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[-3.9599999999999795, -2.3700000000000045, -0...."
4,2019,311503,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[-3.9399999999999977, -2.319999999999993, -0.3..."

In [19]:
df.shape

(274, 4)

In [ ]:
this_griddoc = next(grid_docs)
this_griddoc

In [ ]:
z = self.createRow(this_griddoc, self.df_missing_dates, DS)
z

In [ ]:
DS['tp']

In [ ]:
doc = this_griddoc

this_year = int(self.year)
id_grid = int(doc['id_grid'])
lon, lat = doc['loc']['coordinates']
df0 = DS.sel({'longitude': lon, 'latitude': lat},
             method='nearest').to_dataframe().reset_index()

In [ ]:
df0['time'] = list(map(lambda x: pd.to_datetime(x).date(),
                       df0['time']))
if (df_missing_dates.shape[0] > 0):
    # Fill with NA days
    df0 = pd.merge(left=df0,
                   right=df_missing_dates,
                   on='time', how='outer').sort_values(
                       by='time', ascending=True)
t2m_roundedValues = list(map(lambda x: round(x, 2),
                         df0['t2m']))
tp_roundedValues = list(map(lambda x: round(x, 2),
                         df0['tp']))
update_doc = {'year': this_year,
              'id_grid': id_grid,
              'tp': tp_roundedValues,
              't2m': t2m_roundedValues}

In [ ]:
col_dat = con['col_dat']
if (method == 'insert'):
    df = pd.DataFrame(res)
    ids = df['id_grid'].values.tolist()
    # First remove data
    col_dat.delete_many(filter={'year': int(self.year),
                                'id_grid': {'$in': ids}})
    # Then insert data
    col_dat.insert_many(df.to_dict('records'))
else:
    logging.info('Upsert not implemented yet')

# Get NetCDF file

In [ ]:
year = 2019
months = np.arange(1, 5)
months

In [ ]:
# Parralel download of monthly data:
p = ThreadPool(processes=self.ncpu)
p.map(lambda m: self.getFile(year=year, month=m), months)
logging.info('Downloading files for YEAR %s Done.' % year)

In [ ]:
# List all the current year's nc files
nc_local = ['%s/%s' %(self.downloadDir, f) for f in os.listdir(self.downloadDir) if f.startswith('era5_%s' % year) and f.endswith('.nc')]
nc_local

In [ ]:
# Open them all in one ds object
ds = xr.open_mfdataset(nc_local, combine='by_coords') # will load in chronological order
ds

In [ ]:
# Transform to pandas for easier post-processing
df = ds.to_dataframe().reset_index()
df = df.assign(id_grid=np.arange(df.shape[0]))
df.head()

In [ ]:
# Select only the inserted grid ids
df = df.query('id_grid in @self.all_ids').reset_index(drop=True)
df.head()

In [ ]:
df.shape

In [ ]:
self.getFile(year=year, month=month)

In [ ]:
# Perform daily avergage
path = '/home/dmasson/data/era5/era5_2019-5.nc'
ds = xr.open_dataset(filename_or_obj=path)
ds

In [ ]:
ds_agg = ds.resample(time='D').mean()
ds_agg

In [ ]:
f2 = '/home/dmasson/data/era5/bb.nc'
ds_agg.to_netcdf(f2)

In [ ]:
aa = xr.open_dataset(filename_or_obj=f2)
aa

In [ ]:
today = datetime.today().date()
# In order to avoid loading complete year
newday = self.lastDate + relativedelta(days=1)
years = np.arange(newday.year, today.year + 1)
logging.info('Years to process: %s' % years)
logging.info('Latest date present in MongoDB: %s' % self.lastDate)

# Load land mask (for download, see function "getLandMask()" )
f = '%s/land_sea_mask.nc' % self.downloadDir
ds = xr.open_dataset(filename_or_obj=f)
self.lsm = ds.lsm.isel(time=0)

# Ingest a single NetCDF file

In [ ]:
targetfile = '%s/era5_%s-%s.nc' % (self.downloadDir, year, month)
targetfile

In [ ]:
import xarray as xr
ds = xr.open_dataset(filename_or_obj=targetfile)
ds

In [ ]:
GD.ingestData(year=1984, month=3)

# Explore NetCDF file content

In [ ]:
import xarray as xr
f = '/data/geoData/era5/era5_2018-1_copy.nc'
ds = xr.open_dataset(filename_or_obj=f)
ds

In [ ]:
t2m = ds.t2m.isel(time=2)
ax = plt.axes(projection=ccrs.PlateCarree())
t2m.plot.contourf(ax=ax, transform=ccrs.PlateCarree())
ax.set_global()
ax.coastlines()

## Crop to continent only

In [ ]:
f = '/data/geoData/era5/land_sea_mask.nc'
ds_mask = xr.open_dataset(filename_or_obj=f)
lsm = ds_mask.lsm
ax = plt.axes(projection=ccrs.PlateCarree())
lsm.isel(time=0).plot.contourf(ax=ax, transform=ccrs.PlateCarree())
ax.set_global()
ax.coastlines()

In [ ]:
aa = ds.isel(time=2).where((lsm.isel(time=0) >0) & (ds.latitude >=-60))

In [ ]:
aa

In [ ]:
ax = plt.axes(projection=ccrs.PlateCarree())
aa.t2m.plot.contourf(ax=ax, transform=ccrs.PlateCarree())
ax.set_global()
ax.coastlines()

In [ ]:
df = aa.to_dataframe().reset_index()

In [ ]:
df.tail()

In [ ]:
1440 * 721

In [ ]:
df2 = df.dropna()

In [ ]:
df2.shape

In [ ]:
# Load world data set
shp_file = '/mnt/md1/dat/GIS/shp_naturalEarthData/ne_10m_land/ne_10m_land.shp'
import geopandas as gpd
shp_df = gpd.read_file(shp_file)
shp_df.plot(figsize=(10, 10), edgecolor='k', facecolor='none')

In [ ]:
import salem
# Subset the raster to the dim of the shp_df
ds_sub = ds.salem.roi(shape=shp_df)
ds_sub

In [ ]:
air = ds_sub.t2m
ax = plt.axes(projection=ccrs.PlateCarree())
air.isel(time=2).plot.contourf(ax=ax, transform=ccrs.PlateCarree())
ax.set_global()
ax.coastlines()

In [ ]:
air = ds.t2m
ax = plt.axes(projection=ccrs.Orthographic(-80, 35))
air.isel(time=2).plot.contourf(ax=ax, transform=ccrs.PlateCarree())
ax.set_global()
ax.coastlines()

# Retrieve land-sea mask

In [ ]:
GD.getLandMask()

# Data Collection

In [ ]:
GD.all_ids

In [ ]:
id = 37283
cfg_MONGO_CLIENT = MongoClient(["mongodb://supernuke:MBkR2Xou7bdS@pulaski:27017"])
con0 = cfg_MONGO_CLIENT
col_temp = con0['ECMWF']['ERA5_temp']
new_df = pd.DataFrame(list(col_temp.find(filter={'id_grid': id})))

In [ ]:
self = GD
self.year = 1979
new_df.head()

In [ ]:
# Check already ingested data
con = self._createMongoConn(self.experimental_setting)
col_dat = con['col_dat']
old_df = pd.DataFrame(list(col_dat.find(
    filter={'id_grid': id,
            'year': self.year})))

In [ ]:
old_df

In [ ]:
new_df = new_df.assign(t2m=round(new_df['t2m'], 2),
                       tp=round(new_df['tp'], 2)).\
         sort_values(by='date', ascending=True)
new_df.head()

In [ ]:
full_df = pd.DataFrame({
            'date': pd.date_range('%s-01-01' % self.year,
                                  max(new_df['date']), name='time')})
new_df = pd.merge(full_df, new_df, how='left', on='date')
new_doc = {'id_grid': id,
           'year': int(self.year),
           't2m': new_df['t2m'].tolist(),
           'tp': new_df['t2m'].tolist()}

In [ ]:
new_doc

In [ ]:
qry = {'id_grid': id, 'year': int(self.year)}
col_dat.update_one(filter=qry, update={'$set': new_doc}, upsert=True)

In [ ]:
qry

In [ ]:
col_dat.find_one()

In [ ]:
col_dat.count()

In [ ]:
#col_dat.delete_many({})

In [ ]:
from dateutil.relativedelta import relativedelta

self.lastDate + relativedelta(days=1)

In [ ]:
GD.getLastDate()+ relativedelta(days=1)

In [ ]:
#self.ingestData(year=2018, month=1)

In [ ]:
con = GD._createMongoConn(experimental_setting=GD.experimental_setting)
col_dat = con['col_dat']

In [ ]:
col_dat.find_one()

In [ ]:
col_dat.count()

In [ ]:
col_dat.index_information()

In [ ]:
#col_dat.drop()
#GD.createDataColIndex()

# Grid Collection

In [ ]:
con = GD._createMongoConn(experimental_setting=GD.experimental_setting)
col_grid = con['col_grid']
col_grid.find_one()

In [ ]:
list(col_grid.find(filter={'id_grid': 0}))

In [ ]:
#GD.createGridCollection()

In [ ]:
#GD.createGridColIndex()

In [ ]:
self = GD
f = '%s/land_sea_mask.nc' % self.downloadDir
ds = xr.open_dataset(f)
ds

In [ ]:
 # Open ERA5 land mask
# Limit the grid collection to land only and exclude Antarctica
# LSM is the proportion of land/sea in a grid box
field = ds.isel(time=0).where((ds.lsm.isel(time=0) > 0) &
                              (ds.latitude >= -60))
df = field.to_dataframe().reset_index()

def shiftlon(x):
    if x > 180:
        x = x-360
    return(x)

def createCoord(lon, lat):
    newlon = shiftlon(lon)
    res = {'type': 'Point',
           'coordinates': [newlon, lat]}
    return(res)

df = df.assign(id_grid=np.arange(df.shape[0]),
               loc=list(map(lambda lon, lat: createCoord(lon, lat),
                            df['longitude'],
                            df['latitude'])))
df = df.drop(columns=['time', 'sst','longitude', 'latitude'])
df = df.dropna()

In [ ]:
df.shape

In [ ]:
df.tail()

In [ ]:
int('1979')